* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html ,body {
    background-color: #d9d9d9;
    width: 100%;
    height: 100%;
}

a {
    color: #F5B710;
    text-decoration: none;
}

h1 {
    color: #100575;
}

.nav {
    /*position: fixed;*/
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #090345;
    width: 100%;
    height: 81px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    padding-left: 100px;
}

/*Início*/

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url("/assets/images/arduino.jpeg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken; 
    color: white;
 }

.projeto h1 {
    margin-top: 100px;
    text-align: center;
}

.projeto p {
    margin-top: 5px;
    margin-bottom: 100px;
    text-align: justify;
}

.projetoTexto {
    color: white;
    margin-left: 70px;
    margin-right: 70px;
}

.problematica {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.problematica h1 {
    text-align: center;
}

.problematicaCards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/*O Css  dos Cards (este aq em baixo) é o mesmo na Problematica e nos Componentes*/
.card {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: -5px 7px 10px #444;
    background-color: gray;
    transition: 0.5s;
}

.card .imgH {
    position: absolute;
    width: 350px;
    height: 300px;
    top: 0px;
}

.card .imgH img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.card:hover .imgH img {
    opacity: 0.9;
}

.card .textH {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    color: white;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .textH {
    top: 25px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.componentesTodos {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.componentesTodos h1 {
    text-align: center;
}

.componentesCards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/*Css da Cartilha&Artigo(index2)*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    margin-top: 150px;
}

.cartilha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    gap: 1rem;
}

.cartilha-Botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.esquerda, .direita {
    background-color: #100575;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 37px;
}

.material-symbols-outlined {
    color: white;
    font-size: 50px; 
    font-variation-settings: 'wght' 750; 
    cursor: pointer;
}


.baixar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin-top: 100px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
}

.btnDownload {
    background-color: #100575;
    border-radius: 15px;
    width: 232px;
    height: 44px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#dowload {
    padding-left: 30px;
}

/*Css do Sobre(index3)*/
.integrantesH1 {
    margin-top: 100px;
    text-align: center;
}

.integrantes {
    margin-top: 100px;
    color: #100575;
}

.integrantes img {
    border: none;
    border-radius: 200px;
    width: 250px;
    height: 250px;
}

.integrupo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 100px;
    margin-bottom: 60px;
}

.integrupo1 div {
    align-items: center;
    text-align: center;
}

.integrupo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.integrupo2 div {
    align-items: center;
    text-align: center;
}

.pEquipe {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 80px;
    color: #100575;
    font-size: 28px;
    font-weight: medium;
    text-align: justify;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
    background-color: #090345;
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer p {
    color: white;
    padding-top: 35px;
}
