* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #d9d9d9;
}

a {
    color: #F5B710;
    text-decoration: none;
}

h1 {
    color: #100575;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #090345;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ui {
    margin-left: 200px;
}

.nav li {
    padding-left: 100px;
}
button {
    
}